::ng-deep .modal-content {
  -webkit-border-radius: 2rem !important;
  -moz-border-radius: 2rem !important;
  border-radius: 2rem !important;
}

.modal-content {
  -webkit-border-radius: 2rem !important;
  -moz-border-radius: 2rem !important;
  border-radius: 2rem !important;
}

h2 {
  margin-top: 20px;
}

.form-label {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
}

button {
  background-color: rgb(85, 85, 85);
  border-radius: 10px;
  margin: 10px;
  border-color: black;
}
.btn-save {
  background-color: rgb(128, 157, 252);
}
