<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="confirmUpdateCaptcha()" [formGroup]="updateCaptchaForm">
      <h2 id="myUserLabel">Update Captcha</h2>

      <div class="mb-3">
        <label class="form-label">Merchant Key</label>
        <input
          type="text"
          class="form-control"
          name="merchantKey"
          formControlName="merchantKey"
          style="border-radius: 7px; border: 0.5px solid"
        />
        <div
          *ngIf="
            updateCaptchaForm.get('merchantKey')!.invalid &&
            (updateCaptchaForm.get('merchantKey')!.dirty || updateCaptchaForm.get('merchantKey')!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="updateCaptchaForm.get('merchantKey')?.errors?.required">
            This field is required.
          </small>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Captcha</label>
        <input
          type="text"
          class="form-control"
          name="captcha"
          [(ngModel)]="captcha"
          formControlName="captcha"
          style="border-radius: 7px; border: 0.5px solid"
        />
        <div
          *ngIf="
            updateCaptchaForm.get('captcha')!.invalid &&
            (updateCaptchaForm.get('captcha')!.dirty || updateCaptchaForm.get('login')!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="updateCaptchaForm.get('captcha')?.errors?.required"> This field is required. </small>
        </div>
      </div>
      <div>
        <label>Total Cost:</label>
        {{ totalCost }} VND
      </div>

      <div style="margin-bottom: 20px">
        <button type="button" class="btn btn-secondary" (click)="clear()">
          <span>Cancel</span>
        </button>

        <button type="submit" [disabled]="updateCaptchaForm.invalid" class="btn-save btn btn-primary">
          <span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
