<div class="row counters" style="margin-bottom: 30px; border-radius: 30px">
  <div id="important-notes-mw" class="tns-ovh">
    <div class="tns-inner" id="important-notes-iw">
      <div
        class="tiny-slider tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal"
        id="important-notes"
        style="transition-duration: 0s; transform: translate3d(0%, 0px, 0px)"
      >
        <div
          class="p-3 tns-item tns-slide-active"
          style="
            background-clip: border-box;
            border: 0 solid rgba(34, 41, 47, 0.125);
            border-radius: 0.5rem;
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
          "
          id="important-notes-item0"
        >
          <div style="text-align: center; font-size: 26px; font-weight: 400" class="text-base font-medium truncate">
            Mua captcha vui lòng liên hệ trực tiếp với <a href="https://dungpham.com.vn/">Dũng Phạm</a>
          </div>
          <div style="text-align: center">
            <button (click)="closeModal()" style="margin-top: 20px" class="btn btn-primary">Xác nhận</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
